<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.valuationreport">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DisplayReport"
            android:label="Display Report"></activity>
        <activity android:name=".EditUserProfile"
            android:label="Edit Profile"/>
        <activity
            android:name=".Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ClientLogin" />
        <activity android:name=".CostToTheBidder"
            android:label="Cost To The Bidder"/>
        <activity android:name=".Matrix"
            android:label="Matrix"/>
        <activity android:name=".UserProfile"
            android:label="Profile"/>
        <activity android:name=".FAQ"
            android:label="FAQ"/>
        <activity android:name=".Authentication"
            android:label="Authemtication"/>
        <activity android:name=".NewInspection"
            android:label="New Inspection"/>
        <activity android:name=".Registration"
            android:label="Registartion"/>
        <activity android:name=".LoginActivity"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>